.valid {
    border: 2px solid green;
    border-radius: 8px;
}

.invalid {
    border: 2px solid red;
    border-radius: 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

#data_result {
    display: none;
}